name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write # Required for OIDC

jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets: inherit
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Release Please
        id: release
        uses: googleapis/release-please-action@v4
        with:
          release-type: node

      - name: Checkout
        uses: actions/checkout@v4.1.1
        if: ${{ steps.release.outputs.release_created == 'true' }}

      - name: Setup Node
        uses: actions/setup-node@v4.0.1
        with:
          node-version: 24
          cache: npm
          registry-url: "https://registry.npmjs.org"
        if: ${{ steps.release.outputs.release_created == 'true' }}

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        if: ${{ steps.release.outputs.release_created == 'true' }}

      - name: Install Dependencies
        run: npm ci
        if: ${{ steps.release.outputs.release_created == 'true' }}

      - name: Build
        run: npm run build
        if: ${{ steps.release.outputs.release_created == 'true' }}

      - name: Test
        run: npm test
        if: ${{ steps.release.outputs.release_created == 'true' }}

      - name: Publish to NPM
        run: NODE_AUTH_TOKEN="" npm publish --access public --tag latest --provenance
        if: ${{ steps.release.outputs.release_created == 'true' }}
